
:root{
    --primaryWhite : white;
    --primaryNav : rgb(245, 59, 90);
    --primaryDark : rgb(255, 255, 255, 0);
}




/****NAVBAR***/

/* LOGO */
.logo{
    width: 5.25rem;
}

/* Links */

nav a.nav-link{
    /* font-weight: 500; */
    /* letter-spacing: 0.06rem; */
    cursor: pointer;
    /* color: wheat; */
}

nav ul li{
    text-transform: uppercase;
}


.navbar-nav> li>a{
    margin-right: 0.75rem;
    margin-left: 0.75rem;
color: var(--primaryWhite) !important;
border-top: 0.1875rem solid var(--primaryDark) ;
}

.navbar-brand{
max-width: 17.25rem;
padding: 0 !important;
height: 4rem;
}

.navbar-nav > li > a.nav-item, .navbar-nav > li> a.nav-item:focus{
border-top: 0.1875rem solid var(--primaryNav);
}

.navbar-nav > li > a:hover{
    border-top: 0.1875rem solid var(--primaryNav);
}






